# 1. Tuple

In [1]:
tup = 'a' ,'b',1

In [2]:
tup

('a', 'b', 1)

In [3]:
tup[0]

'a'

## Tuple is immutable

In [4]:
tup[0] = 'c'

TypeError: 'tuple' object does not support item assignment

## Convert to tuple

In [5]:
tuple(['a','b'])

('a', 'b')

In [6]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
# convert back to list

list(tuple('string'))

['s', 't', 'r', 'i', 'n', 'g']

## Value assign

In [8]:
tup = 4, 5, (6, 7)

a , b , (c,d) = tup

In [9]:
a

4

## Multiply

In [10]:
tup * 2

(4, 5, (6, 7), 4, 5, (6, 7))

## Functions

In [11]:
tup.count(4)

1

In [12]:
tup.index(5)

1

## Format

In [13]:
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'int'>, b is <class 'int'>

In [14]:
template = '{0:.2f} {1:s} are worth US${2:d}'

template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

In [15]:
print ('a is %s while b is %.2f' % ('word', 1.002))

a is word while b is 1.00

# 2.  List

## Add and remove

In [16]:
# other than append

l = ['abc','d','f','while','stirng']

l.insert(1, 'happy')

l

['abc', 'happy', 'd', 'f', 'while', 'stirng']

The insertion index must be between 0 and the length of the list, inclusive.

** insert ** is computationally expensive compared with ** append **,
because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish
to explore ** *collections.deque* ** , a double-ended queue, for this purpose.

In [17]:
# pop, the opposite operation to insert

l.pop(2) # can be assigned to an object

'd'

In [18]:
l

['abc', 'happy', 'f', 'while', 'stirng']

In [19]:
# another way to remove

l.insert(1, 'happy')

l.remove('happy')

In [20]:
l

['abc', 'happy', 'f', 'while', 'stirng']

In [21]:
# third way to remove

l.append('hey')

del l[2]

In [22]:
l

['abc', 'happy', 'while', 'stirng', 'hey']

## Conditioning

In [23]:
'happy' in l

True

## Sorting

In [24]:
# ascending sort

l.sort(reverse=True)

In [25]:
l

['while', 'stirng', 'hey', 'happy', 'abc']

In [26]:
l.sort(key=len)

In [27]:
l

['hey', 'abc', 'while', 'happy', 'stirng']

## Slicing

In [28]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [29]:
# A step can also be used after a second colon to, say, take every other element:
seq[::2]

[7, 3, 5, 0]

In [30]:
# A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:

seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]

## Build in functions

### enumerate

In [31]:
p = ['a','b','c']

In [32]:
for i, v in enumerate(p):
    print ('i = {0}, v = {1}'.format(i,v))

i = 0, v = a
i = 1, v = b
i = 2, v = c

### sorted

In [33]:
sorted(l)

['abc', 'happy', 'hey', 'stirng', 'while']

In [34]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### zip

In [35]:
seq1 = ['foo','one','hey']
seq2 = [1,4, 'o']

zipped1 = zip(seq1, seq2)

In [36]:
for elemet in zipped1:
    print (elemet)

('foo', 1)
('one', 4)
('hey', 'o')

In [37]:
list(zipped1)

[]

In [38]:
seq3 = [False, True]

zipped2 = zip(seq1, seq2,seq3)

list(zipped2)

[('foo', 1, False), ('one', 4, True)]

In [39]:
# zip and enumerate
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print ('i = {0}, (a , b) = ({1},{2})'.format(i,a,b))

i = 0, (a , b) = (foo,1)
i = 1, (a , b) = (one,4)
i = 2, (a , b) = (hey,o)

In [40]:
# unzip
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first, last = zip(*pitchers)

In [41]:
first

('Nolan', 'Roger', 'Schilling')

### reverse

In [42]:
list(reversed('string'))

['g', 'n', 'i', 'r', 't', 's']

### dict

In [43]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [44]:
# add value
d1[5] = 'someone'
d1['dummy'] = 2

In [45]:
# delete value
del d1[5]

In [46]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'dummy': 2}

In [47]:
# another way to delete
ret = d1.pop('dummy')

In [48]:
ret

2

In [49]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [50]:
#  merge one dict into another using the update method:

d1.update({'b' : 'foo', 'c' : 12})

In [51]:
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [52]:
# creating dict from sequences

seq1 = ['abc', 'foo', 'hey']
seq2 = ['one','two','three']
dict1 = {}

for key,value in zip(seq1,seq2):
    dict1[key] = value

In [53]:
dict1

{'abc': 'one', 'foo': 'two', 'hey': 'three'}

In [54]:
mapping = dict(zip(seq1,reversed(seq2)))

In [55]:
mapping

{'abc': 'three', 'foo': 'two', 'hey': 'one'}

In [56]:
value1 = mapping.get('abc')

In [57]:
value1

'three'

In [58]:
# default value
value2 = mapping.get('a', 'nothing')

In [59]:
value2

'nothing'

In [60]:
# default value
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

In [61]:
by_letter.setdefault('1',['a'])

['a']

In [62]:
by_letter

{'1': ['a']}

In [63]:
for word in words:
 letter = word[0]
 by_letter.setdefault(letter, []).append(word)

In [64]:
by_letter

{'1': ['a'], 'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [65]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
 by_letter[word[0]].append(word)

# set

In [66]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [67]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

### union

In [68]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [69]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
a |  b

{1, 2, 3, 4, 5, 6, 7, 8}

###  intersection

In [71]:
a.intersection(b)

{3, 4, 5}

In [72]:
a & b

{3, 4, 5}

### change a

In [73]:
a.update(b)

In [74]:
a

{1, 2, 3, 4, 5, 6, 7, 8}