# Simple datetime

In [7]:
from datetime import datetime, date, time

In [2]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [3]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [6]:
dt.time()

datetime.time(20, 30, 21)

## String format

In [27]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

## Replace and modification

datetime cannot be modified, the replace function produces a new object

In [28]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [29]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

## Difference

In [30]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [31]:
delta = dt2 - dt

In [33]:
delta

datetime.timedelta(17, 7179)

means 17 days + 7179 seconds

In [40]:
delta.seconds

7179

In [32]:
# simple operation
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## List of time format

* %Y Four-digit year
* %y Two-digit year
* %m Two-digit month [01, 12]
* %d Two-digit day [01, 31]
* %H Hour (24-hour clock) [00, 23]
* %I Hour (12-hour clock) [01, 12]
* %M Two-digit minute [00, 59]
* %S Second [00, 61] (seconds 60, 61 account for leap seconds)
* %w Weekday as integer [0 (Sunday), 6]
* %U Week number of the year [00, 53]; Sunday is considered the first day of the week, and days before the first Sunday of the year are “week 0”
* %W Week number of the year [00, 53]; Monday is considered the first day of the week, and days before the first Monday of the year are “week 0”
* %z UTC time zone offset as +HHMM or -HHMM; empty if time zone naive
* %F Shortcut for %Y-%m-%d (e.g., 2012-4-18)
* %D Shortcut for %m/%d/%y (e.g., 04/18/12)

# Datetime for pandas

In [8]:
import pandas as pd

In [17]:
d = {'col1': [1, 2], 'col2': ['03/21/2018 19:03:07','03/20/2001 09:10:11']}
df = pd.DataFrame(data=d)

In [18]:
# convert dtypes to datetime
df['datetime'] = pd.to_datetime(df['col2'], format='%m/%d/%Y %H:%M:%S')

In [19]:
df

   col1                 col2            datetime
0     1  03/21/2018 19:03:07 2018-03-21 19:03:07
1     2  03/20/2001 09:10:11 2001-03-20 09:10:11

In [25]:
# extract datetime value
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day

df['hour'] = df['datetime'].dt.hour

In [24]:
df

   col1                 col2            datetime  year  month  day  hour
0     1  03/21/2018 19:03:07 2018-03-21 19:03:07  2018      3   21    19
1     2  03/20/2001 09:10:11 2001-03-20 09:10:11  2001      3   20     9